.card.colored {
    background-color: #bdc3c7;
}
.card.success {
    background-color: #27ae60;
}
.card.running {
    background-color: #3498db;
    animation: fading 1s infinite;
    -webkit-animation: fading 1s infinite;
}
.card.failure {
    background-color: #e74c3c;
}
.card.colored i {
    color: white;
}
.card.colored .card_inner p {
    color: white;
}
.card.colored .card_inner .text-title {
    color: white;
}
.card.colored div a {
    color: white;
}
.card.colored div p {
    color: white;
}

@keyframes fading {
    0%   { background: #74b9ff; }
    33%  { background: #2980b9; }
    66%  { background: #2980b9; }
    100% { background: #74b9ff; }
}

@-webkit-keyframes fading {
    0%   { background: #74b9ff; }
    33%  { background: #2980b9; }
    66%  { background: #2980b9; }
    100% { background: #74b9ff; }
}
